body {
  background-color: #000000;
  font-family: 'Rubik', sans-serif;
  color: #9C9C9C;
}

.welcome {
  text-align: center;
  background-image: url("https://media.giphy.com/media/bcAXnpZhenJA5McqfL/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 50%;
  border: 5px solid #000000;
  margin-top: 10%;
}

.welcome h1 {
  font-size: 80px;
  font-weight:
  text-align: center;
  letter-spacing: -5px;
  line-height: 80px;
  margin-top: 20px;
}

.welcome p {
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 50px;
}

.jumbotron {
  display: none;
  padding: 5px;
  text-align: center;
  margin-top: 25px;
  background-image: url("https://media.giphy.com/media/bcAXnpZhenJA5McqfL/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-radius: 50px;

}

.jumbotron h1 {
  font-size: 90px;
  letter-spacing: -3px;
}

#wellOne {
  display: none;
  align-items: center;
  margin-top: 20px;
}

#wellOne input {
 width: 15%;
}

#wellTwo {
  display: none;
  text-align: left;
  background-color: #212121;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

#wellTwo p {
  font-size: 40px;
  text-align: left;
  line-height: 20px;
  letter-spacing: -1px;
}

#size {
  width: 30%;
}

#topping {
  width: 50%;
}

#result {
  display:none;
  background-color: #212121;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  background-image: url("https://media.giphy.com/media/GLv9aEYfF3cKk/giphy.gif");
}
